@model BudgetTracker.Models.Transaction
@using BudgetTracker.Models
@using Microsoft.AspNetCore.Identity
@inject UserManager<User> UserManager
@{
    ViewData["Title"] = Model.Id == 0 ? "Create a new transaction" : "Edit the transaction";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="mt-4 widget col-md-6">
        <form asp-action="Entry">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="Id" value="@Model.Id" />
            <input type="hidden" asp-for="UserId" value="@UserManager.GetUserId(User)" />

            <div class="mb-3 form-floating">
                <input type="date" asp-for="Date" class="form-control" />
                <label asp-for="Date">Date</label>
            </div>

            <div class="mb-3 form-floating">
                <select class="form-control form-select" asp-for="CategoryId">
                    @foreach (Category item in ViewBag.Categories) {
                        <option value="@item.Id">@item.FullTitle</option>
                    }
                </select>
                <label asp-for="CategoryId">Category</label>
            </div>

            <div class="mb-3 form-floating">
                <input type="number" asp-for="Amount" class="form-control" min=0 value=1 step=0.01 />
                <label asp-for="Amount">Amount</label>
            </div>
            
            <div class="mb-3 form-floating">
                <textarea asp-for="Note" class="form-control"></textarea>
                <label asp-for="Note">Note</label>
            </div>

            <button type="submit" class="btn btn-dark px-5 mt-3">Save</button>
        </form>
    </div>
    <div class="mt-4 widget col-md-5">
        
    </div>
</div>